<table mat-table class="mat-elevation-z8">
  <thead mat-header-cell class="table-head">
    <tr>
      <th mat-header-cell>Titulo</th>
      <th mat-header-cell>Resumo</th>
    </tr>
  </thead>
  <tbody mat-cell class="table-body">
    <tr *ngFor="let row of searchResults" class="table-row">
      <td mat-cell>
        <a target="_blank" [href]="'https://en.wikipedia.org?curid=' + row.pageid">{{ row.title }}</a>
      </td>
      <td [innerHTML]="row.snippet" mat-cell>
        <!-- {{ row.snippet }} -->
      </td>
    </tr>
  </tbody>
</table>
